;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [reagent "1.0.0-alpha1"]
                [re-frame "0.12.0"]
                [metosin/reitit "0.4.2"]
                [quil "3.1.0"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [website.core]
          :init-fn website.core/init}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load website.core/stop
         ;; after live-reloading finishes call this function
         :after-load website.core/start
         ;; serve the public directory over http at port 8280
         :http-root    "public"
         :http-port    8280
         :preloads     [devtools.preload]}
        }}}
